.topic{
    text-align: center;
    background-color: gold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: auto;
    padding: 100px 0 100px 0;
}

.btndiv{
    text-align: center;
    margin-top: 100px;
}

.btn{
    background-color: blue;
    border-radius: 100px;
    box-shadow: rgba(3, 131, 190, 0.2) 0 -25px 18px -14px inset,rgba(13, 131, 167, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(8, 125, 172, 0.15) 0 4px 8px,rgba(16, 142, 192, 0.15) 0 8px 16px,rgba(16, 112, 201, 0.15) 0 16px 32px;
    color: gold;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.btn:hover {
box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(13, 131, 167, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(8, 125, 172, 0.15) 0 4px 8px,rgba(16, 142, 192, 0.15) 0 8px 16px,rgba(16, 112, 201, 0.15) 0 16px 32px;
transform: scale(1.05) rotate(-1deg);
}